@using Diary.Models;

<h1>My Travel Diary</h1>
@if (Model.Count == 0)
{
  <p>There are no entries in your diary.</p>
}
<ul>
  @foreach (Place place in Model)
  {
    <li><a href='/places/@place.Id'>@place.CityName</a></li>
    <li><a href='/places/@place.Id'>@place.Image</a></li>
    <li><a href='/places/@place.Id'>@place.Duration</a></li>
    <li><a href='/places/@place.Id'>@place.TravelPartner</a></li>
    <li><a href='/places/@place.Id'>@place.JournalEntry</a></li>
  }
</ul>

<a href="/items/new">Add a new item.</a>

<form action="/items/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>