<h1>Travel Diary Entry Details: </h1>

<h2>@Model.CityName</h2>
<h3>@Model.Image</h3>
<h3>@Model.Duration</h3>
<h3>@Model.TravelPartner</h3>
<h3>@Model.JournalEntry</h3>

<a href='/places/new'>Add another travel diary entry</a>
<a href='/places'>View all entries</a>